@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
:root
{
    --primary: rgb(5, 0, 77);
    --secondary: papayawhip;
}
body
{
    background: var(--primary);
    color: var(--secondary);
    font-family: 'Cinzel', sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}
.app
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background:var(--secondary);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb
{
    background: var(--primary);
    border-radius: 5px;
}
.app .btn
{
    position: absolute;
    top: 5%;
    left: 2%;
    background: orange;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px 0px 10px 0px;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}